$fill-blue: #2B6FB6;
$fill-blue-font: #017AFF;
$gradient-bluesky-top: #007DFE;
$gradient-bluesky-bottom: #00A3FE;
$fill-grey-font: #80879A;
$gradient-grey-top: #646567;
$gradient-grey-bottom: #797A7C;
$fill-black: #000;
$fill-white: #fff;

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    margin: 0 20px;
    background-color: transparent;

    &:focus {
        outline: none !important;
        outline-offset: none !important;
    }
}

.btn-square {
    
    .btn-image {
        border-radius: 15px;
        background-color: $fill-white;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.25);
        width: 40px;
        height: 40px;
        padding: 20px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    p {
        margin-top: 10px;
    }
}

.font-blue {
    color: $fill-blue-font;
}

.font-black {
    color: $fill-black;
}

.font-grey {
    color: $fill-grey-font;
}

.font-bold {
    font-weight: bold;
}


body {
    background-color: $fill-white;
    color: $fill-grey-font;
    font-size: 0.8rem;
}

.header {
    text-align: center;
    padding: 10px 0;
    width: 100vw;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: $fill-blue-font;

    p, a {
        color: $fill-white;
        font-size: 10px;
    }
}

.nav-main {
    border: 1px solid $fill-blue-font;
    padding: 20px 36px;
    text-align: center;

    button {

        .btn-image {
            background-color: $fill-white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 20px;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.25);
            margin-bottom: 10px;
            
            img {
                width: 40px;
                height: 40px;
            }
        }

        p {
            color: $fill-blue-font;
        }
    }
}
.container {
    margin-bottom: 70px;

    .container-top {
        padding: 30px 20px;
        text-align: center;
        background: rgb(0,125,254);
        background: -moz-linear-gradient(180deg, rgba(0,125,254,1) 0%, rgba(0,163,254,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(0,125,254,1) 0%, rgba(0,163,254,1) 100%);
        background: linear-gradient(180deg, rgba(0,125,254,1) 0%, rgba(0,163,254,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007dfe",endColorstr="#00a3fe",GradientType=1);
    
        h3 {
            color: $fill-white;
            margin-bottom: 30px;
        }
    }
}

.main-point-box {
    background-color: $fill-white;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.25);

    > div {
        width: 49.5%;
        padding: 14px 0;
        flex: 2 1;

        &._left {
            border-right: 1px solid $fill-blue;
        }

        img {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            vertical-align: top;
            margin-top: 5px;
        }

        .main-point-text {
            display: inline-block;
            text-align: left;

            p {
                font-size: 12px;
            }
        }
    }
}

.main-point-action {
    margin-top: -30px;
    padding-bottom: 30px;
    text-align: center;
}

.main-transaction {
    padding: 20px;

    .main-transaction-title {
        color: $fill-black;
        margin-bottom: 15px;
    }

    .main-transaction-item {
        flex-direction: row;
        display: flex;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 15px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.25);

        img {
            width: 30px;
            height: 30px;
            display: inline-block;
            flex: 0;
        }

        ._detail {
            flex: 1;
            margin-left: 10px;

            ._status, ._idtimestmp {
                span {
                    display: inline-block;
                    width: 50%;

                    &:last-child {
                        text-align: right;
                    }

                    &.font-blue {
                        font-size: 16px;
                    }
                }
            }

            ._idtimestmp {
                span {
                    font-size: 10px;
                }
            }
        }
    
    }
}