$fill-blue: #2B6FB6;
$fill-blue-font: #017AFF;
$gradient-bluesky-top: #007DFE;
$gradient-bluesky-bottom: #00A3FE;
$fill-grey-font: #80879A;
$gradient-grey-top: #646567;
$gradient-grey-bottom: #797A7C;
$fill-black: #000;
$fill-white: #fff;

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none !important;
    outline-offset: none !important;
}

.font-blue {
    color: $fill-blue-font;
}

.font-black {
    color: $fill-black;
}

.font-bold {
    font-weight: bold;
}

body {
    background-color: $fill-white;
    color: $fill-grey-font;
    font-size: 1rem;
}

.header {
    text-align: center;
    padding: 10px 0;
    width: 100vw;
}

.navMain {
    border: 1px solid $fill-blue-font;
    padding: 20px 36px;
    text-align: center;

    button {
        border: none;
        margin: 0 20px;
        background-color: transparent;

        .boxImage {
            background-color: $fill-white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 20px;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
            margin-bottom: 10px;
            
            img {
                width: 40px;
                height: 40px;
            }
        }

        p {
            color: $fill-blue-font;
        }
    }
}